h1, h4 {
    cursor: default;
    user-select: none;
}

h1 {
    font-size: 55px;
    text-align: center;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YEAR" 1989;
}

h4 {
    background-color: #373e40;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 200px;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 2rem;
    padding-left: 20px;
    line-height: 1.9;
    transition: all 0.3s ease;
    font-family: "Basic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

h4:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.terminal-user {
    color: #448361;
    font-weight: bold;
    margin-right: 5px;
    cursor: default;
    user-select: none;
}