.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    width: 620px;
    height: 600px;
    border-radius: 12px;
}
