.machines {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.filters-section {
    padding-top: 30px;
    display: flex;
    gap: 22px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    align-items: center;
}

.filters-section input, .filters-section select {
    padding: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #222;
    color: white;
    font-size: 19px;
}

.filters-section select {
    cursor: pointer;
}

.machine-card {
    background-color: #373e40;
    border-left: 4px solid #00ff00;
    padding-left: 15px;
    padding: 20px;
    border-radius: 10px;
    cursor: default;
}

.input {
    width: 600px;
}

h2 {
    font-size: 48px;
}

.label {
    color: #00ff00;
    font-weight: bold;
    margin-right: 5px;
    opacity: 0.8;
}